*.sym
*.bin
*.pyc
*.tmp
*.zip
*.lst
*.lbl
*.bas
*.o
*.obj
*.elf
*.uf2
__pycache__/*
__pycache__
build
a.out
bin/*
__*
__*/
pico_sdk_import.cmake
storage
modules/.DS_Store
.gitignore
modules/input/.DS_Store
runtime/.DS_Store
modules/graphics/.DS_Store
modules/dvi/.DS_Store
modules/common/.DS_Store
.DS_Store
